@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap');

:root{
    /* Colors */
    --counterBackgroundColor:#fff;
    --primaryTextColor:#fff;
    --secondaryTextColor:#aaa;
    --primaryBackgroundColor:#0a0b0a;
    --secondaryBackgroundColor:#1a191a;
    --thirdBackgroundColor:#2a292b;

    /* Sizing */
    --sectionPadding: 6rem 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: "Tinos", sans-serif;
    background: var(--primaryBackgroundColor);
    color: var(--primaryTextColor);
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    color: var(--primaryTextColor);
    font-family: "Tinos", sans-serif;
    font-weight: 500;
}

p,span{
    font-size: 1rem;    /* 16px */
    line-height: 1.9rem;
    font-weight: 200;
}

a{
    text-decoration: none;
}

/* Utility classes */
.large-container{
    width: 92.5%;
    margin: 0 auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container{
        width: 90%;
    }
}

header{
    height: 100vh;
    background: url('../img/hero1.jpeg');
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.45);

    display: flex;
    flex-direction: column;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Top Info */
#header-info{
    padding: 0.5rem 0;
    background: var(--secondaryBackgroundColor);
}

.header-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-info-items{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.header-info-items div{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.header-info-items svg{
    transform: scale(0.7);
}

.header-info-items span{
    color: #ffffffdb;
    font-weight: 300;
    font-size: 0.9rem;
}

.info-social svg{
    transform: scale(0.7) translateY(5px);
}

/* Navigation */
.nav{
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 0;
}

.nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav a{
    color: var(--secondaryTextColor);
}

.nav h1{
    font-weight: 400;
    font-size: 1.7rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Hero */
#hero{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero{
    text-align: center;
}

.hero h4{
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hero h1{
    font-size: 3.3rem;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 500;
}

.hero-cta{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

/* Buttons */
.cta-button{
    cursor: pointer;
    border: 2px solid var(--counterBackgroundColor);
    padding: 0.75rem 2rem;
    background: transparent;
    color: var(--primaryTextColor);
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    border-radius: 2vh;
}

.cta-button:hover{
    background: var(--counterBackgroundColor);
    color: #000;
    transform: scale(1.1);
}

.header-shadow{
    width: 100%;
    height: 30%;
    background: linear-gradient(rgba(0, 0, 0, 0), var(--primaryBackgroundColor));
}

/* About */
.about{
    max-width: 700px;
    padding: var(--sectionPadding);
    text-align: center;
}

.about p{
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.about p:first-child{
    margin-bottom: 1.5rem;
}

/* Menu */
.menu{
    padding: 7rem 0 3rem;
    text-align: center;
}

.section-title{
    max-width: 450px;
    margin: 0 auto 3rem;
    text-align: center;
}

.section-title h5{
    font-weight: 500;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.section-title h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.75rem;
}

.section-title h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 0.75rem;
}

.sub-section-title p{
    color: var(--secondaryTextColor);
}

.standing-line{
    width: 2px;
    height: 50px;
    background-color: var(--counterBackgroundColor);
    margin: 1rem auto 2rem;
}

.menu-details{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 6rem;
}

.menu-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    text-align: left;
    gap: 1rem;
}

.menu-item p{
    font-size: 0.9rem;
}

.menu-item div:last-child{
    color: var(--secondaryTextColor);
    font-weight: 200;
}

/* Carousel Hijab */

.product-carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #00000000;
}

.hijab-carousel-slide {
    display: flex;
    gap: 0.5rem;
    flex-wrap: nowrap;          
    animation: scroll 20s linear infinite;
    
}

.menu-img {
    width: 250px;
    height: 350px;
    flex-shrink: 0;               
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    
}

.menu-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-100%); 
    }
}

.product-carousel:hover .hijab-carousel-slide{
    animation-play-state: paused;
}

.tooltip-text{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    font-weight: 400;
    font-size: 0.9rem;
    background-color: var(--counterBackgroundColor);
    color: #000;
    border-radius: 6px;
    padding: 0.15rem 0.75rem;
    visibility: hidden;
}

.menu-img:hover .tooltip-text{
    visibility: visible;
}

.product-carousel-slide {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
}

/* Carousel Baju */

.baju-carousel-slide {
    animation: scroll 20s linear infinite;
}

.baju-carousel:hover .baju-carousel-slide{
    animation-play-state: paused;
}

/* Carousel Celana */

.celana-carousel-slide {
    animation: scroll 20s linear infinite;
}

.celana-carousel:hover .celana-carousel-slide{
    animation-play-state: paused;
}

/* Reservation */
.reservation{
    padding: var(--sectionPadding);
}

.reservation-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
}

.opening-items,
.social-media,
.reservation-info{
    margin-bottom: 2rem;
}

.reservation-item-info h3 {
    margin-bottom: 1,2rem;
}

.reservation-item-info p {
    margin-bottom: 0.5rem;
}

.contact-info-social { 
    display: flex;
    gap: 1.5rem;
}

.reservation-item-form div {
    margin-bottom: 1.5rem;
}

.reservation-item-form label {
    display: block;
    font-weight: 300;
    margin-bottom: 0.7rem;
}

.reservation-item-form input,
.reservation-item-form textarea { 
    width: 100%;
    background: transparent;
    border: 1px solid #444444;
    padding: 0.5rem 1.3rem;
    font-family: "ribeye", sans-serif;
    color: var(--counterBackgroundColor);
    border-radius: 1vh;
}

.reservation-item-form textarea {
    resize: none;
}

.reservation-item-form button {
    cursor: pointer;
    padding: 0.75rem 1.5rem;
    font-family: "ribeye", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 1.5vh;
}

/* Location */
.map {
    margin-bottom: -5px;
}

.map iframe {
    height: 450px;
}

/* Footer */
.footer-info {
    background: var(--secondaryBackgroundColor);
    padding: 3rem 0;
}

.footer-info-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    text-align: center;
    gap: 2rem;
}

.footer-info-items h3 {
    font-size: 1.15rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.footer-info-items p {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

.footer-copyright {
    padding: 2rem 0;
    background: var(--thirdBackgroundColor);
}

.footer-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 400;
}

.footer-mid {
    font-size: 1rem;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 500;
}

.footer-right, .footer-left {
    font-size: 0.65rem;
    letter-spacing: 2px;
}

.footer-right {
    text-align: right;
}
